- @user.universities_relations.each do |rel|
  = render :partial => 'user/settings/edit_form', :locals => {:user => user, :rel => rel}
%hr
%h3 Добавить образование
= render :partial => 'user/settings/add_form'