html, body{
  width:100%;
  height:100%;
}
#main{
  margin:0 auto;
  width:900px;
  border:1px solid gray;
}
#left{
  width:180px;
  float:left;
  margin:10px;
  margin-top:0px;
  min-height:100px;
  border:1px solid green;
  height:100%;
}
#right{
  width:695px;
  float:left;
}
.left_part{
  float:left;
  min-height:500px;
}
.right_part{
  width:450px;
  float:left;
  height:100%;
}
.border{
  border:1px solid gray;
}
.data_fields_table{
  width:100%;
}
.user_page_mini_flag{
  float:left;
  width:30px;
  display:inline;
  text-align:center;
  line-height: 0px;
  padding: 2px 0;
}
.avatar{
  margin:5px;
  width:200px;
  text-align:center;
}
.edit_profile_list{
  background: #eee;
}
#new_album_form{
  display:none;
}
.messages_page{
  width:95%;
  margin:20px;
  float:left;
}
.message_div{
  width:100%;
  margin-top:2px;
  background:gray;
  float:left;
}
.message_user
{
  float:left;
  width:200px;
}
.message_info{
  float:left;
  width:450px;
  height:60px;
  dislay:inline;
  
}
.dialog_message_user_avatar{
  float:left;
  width : 50px;
  padding:5px;
  margin-right:10px;
}
.dialog_message_user_name{
  float:left;
  font-weight:bold;
  margin-top:10px;
}
.dialog_message_date{
  float:left;
  font-size:10px;
}
.dialog_message_title{
  float:left;
  width:70%;
  margin-top:10px;
  font-style:italic;
  font-weight:bold;
}
.dialog_message_text{
  float:left;
  width:70%;
}
.message_info_extended{
  float:left;
  width:440px;
  dislay:inline;
  margin-bottom:10px;
}
.dialog_view{
  float:left;
  height:350px;
  overflow:auto;
  background:#CCFFFF;
}
#send_message_div{
  margin-top:10px;
  width:100%;
  //height:55px;
  border:1px solid black;
  background-color:#F2F2F2;
  float:left;
  text-align:center;
}
.message_textarea{
  height:50px;
  width:400px;
  resize:none;
  border:1px solid gray;
}
#send_message_sub_div{
  width:520px;
  float:left;
  margin-left:50px;
}
#send_message_operations{
  width:100%;
  input[type=submit]{
    float:left;
    margin:10px;
  }
  a#clip{
    float:right;
    margin:10px;
  }
}
.sender_avatar{
  float:left;
  margin:10px;
}











